@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #f7ffe7;
  --color-primary-100: #ecffc2;
  --color-primary-200: #dcff88;
  --color-primary-300: #c8ff5a;
  --color-primary-400: #b7f34d;
  --color-primary-500: #a3df35;
  --color-primary-600: #7fb51f;
  --color-primary-700: #628a1d;
  --color-primary-800: #4f6d1d;
  --color-primary-900: #435c1d;
  --color-primary-950: #20330a;
}
